h2 {
    padding-left: 50px;
    font-size: 30px;
    font-family: "Berlin Sans FB", Serif;
    background-color: #9fcdff;

}

.polozky {
    background-color: rgba(255, 255, 255, .90);
}

#hlRiadok {
    background-color: black;
    color: #9fcdff;
}

body {
    background: url("https://wallpaperset.com/w/full/6/e/a/453909.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

img {
    height: 16px;
    width: 16px;
}